@using Reunion.Web.Resources
@using Reunion.Web.Models
@{
    ViewBag.LayoutVM = new LayoutViewModel(title:Resource1.ReunionTitle);
}
@section body
{
    <div>
        
    </div>
    <h2></h2>
    
}

