@using Reunion.Web.Resources
@using Reunion.Web.Models
@{
    ViewBag.LayoutVM = new LayoutViewModel(title: Resource1.AccountForgotPasswordConfirmation);
}

@section body
{
    <hgroup class="title">
        <h1>@Resource1.AccountForgotPasswordConfirmation</h1>
    </hgroup>
    <div>
        <p>
            @Resource1.AccountPleaseCheckYourEmail
        </p>
    </div>

}