@using Reunion.Web.Resources
@using Reunion.Web.Models
@{
    ViewBag.LayoutVM = new LayoutViewModel(title: Resource1.AccountResetPasswordConfirmation);
}
@section body
{

    <hgroup class="title">
        <h1>@Resource1.AccountResetPasswordConfirmation</h1>
    </hgroup>
    <div>
        <p>
            @Resource1.AccountYourPasswordHasBeenReset @Html.ActionLink(Resource1.AccountClickHerToLogin, "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
        </p>
    </div>
}